<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <convertToXConnectEvent>
        <processor type="Sitecore.Commerce.CustomModels.PageEvents.Converters.ConvertPageEventDataToVisitedProductDetailsPageEvent, Sitecore.Commerce.Connect.Core">
          <patch:attribute name="type">XCentium.Sitecore.Commerce.XA.CustomModels.PageEvents.Converters.XcConvertPageEventDataToVisitedProductDetailsPageEvent, XCentium.Sitecore.Commerce.XA</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.CustomModels.PageEvents.Converters.ConvertPageEventDataToVisitedCategoryPageEvent, Sitecore.Commerce.Connect.Core">
          <patch:attribute name="type">XCentium.Sitecore.Commerce.XA.CustomModels.PageEvents.Converters.XcConvertPageEventDataToVisitedCategoryPageEvent, XCentium.Sitecore.Commerce.XA</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.CustomModels.Goals.Converters.ConvertPageEventDataToVisitorOrderCreatedGoal, Sitecore.Commerce.Connect.Core" patch:source="Sitecore.Commerce.XConnect.config">
          <patch:attribute name="type">XCentium.Sitecore.Commerce.XA.CustomModels.PageEvents.Converters.ConvertPageEventDataToVisitorOrderCreatedGoal, XCentium.Sitecore.Commerce.XA</patch:attribute>
        </processor>
      </convertToXConnectEvent>
    </pipelines>
  </sitecore>
</configuration>
