<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <translate.cartLineToEntity>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.TranslateCartLineToEntity, Sitecore.Commerce.Engine.Connect">
          <patch:attribute name="type">XCentium.Sitecore.Commerce.XA.Engine.Connect.Pipelines.Carts.XcTranslateCartLineToEntity, XCentium.Sitecore.Commerce.XA</patch:attribute>
          <param ref="entityFactory" />
        </processor>
      </translate.cartLineToEntity>
    </pipelines>
  </sitecore>
</configuration>
