<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAnalytics>
      <aggregation>
        <dimensions>
          <dimension id="{445D6184-5C5F-4559-98D9-7CB4EF80F95F}" type="XCentium.Sitecore.Commerce.XA.ExperienceAnalytics.Dimensions.ByPersonalizationsPurchased, XCentium.Sitecore.Commerce.XA"/>
          <dimension id="{896DAE70-5664-4C1F-95B3-F88D476A84E3}" type="XCentium.Sitecore.Commerce.XA.ExperienceAnalytics.Dimensions.ByPersonalizationsVisited, XCentium.Sitecore.Commerce.XA"/>
        </dimensions>
      </aggregation>
      <api>
        <dimensions>
          <dimension id="{445D6184-5C5F-4559-98D9-7CB4EF80F95F}" type="XCentium.Sitecore.Commerce.XA.ExperienceAnalytics.Dimensions.ByPersonalizationsPurchased, XCentium.Sitecore.Commerce.XA">
            <transformer type="XCentium.Sitecore.Commerce.XA.ExperienceAnalytics.Transformers.PersonalizationTransformer, XCentium.Sitecore.Commerce.XA"/>
          </dimension>
          <dimension id="{896DAE70-5664-4C1F-95B3-F88D476A84E3}" type="XCentium.Sitecore.Commerce.XA.ExperienceAnalytics.Dimensions.ByPersonalizationsVisited, XCentium.Sitecore.Commerce.XA">
            <transformer type="XCentium.Sitecore.Commerce.XA.ExperienceAnalytics.Transformers.PersonalizationTransformer, XCentium.Sitecore.Commerce.XA"/>
          </dimension>
        </dimensions>
      </api>
      <reduce>
        <dimensions>
          <dimension id="{445D6184-5C5F-4559-98D9-7CB4EF80F95F}" type="XCentium.Sitecore.Commerce.XA.ExperienceAnalytics.Dimensions.ByPersonalizationsPurchased, XCentium.Sitecore.Commerce.XA"/>
          <dimension id="{896DAE70-5664-4C1F-95B3-F88D476A84E3}" type="XCentium.Sitecore.Commerce.XA.ExperienceAnalytics.Dimensions.ByPersonalizationsVisited, XCentium.Sitecore.Commerce.XA"/>
        </dimensions>
      </reduce>
    </experienceAnalytics>
  </sitecore>
</configuration>
