<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.Commerce.XA.Feature.Catalog.Repositories.IProductListRepository, Sitecore.Commerce.XA.Feature.Catalog">
        <patch:attribute name="implementationType">XCentium.Sitecore.Commerce.XA.Features.Catalog.Repositories.XcProductListRepository, XCentium.Sitecore.Commerce.XA</patch:attribute>
      </register>
      <register serviceType="Sitecore.Commerce.XA.Feature.Catalog.Repositories.IProductVariantsRepository, Sitecore.Commerce.XA.Feature.Catalog">
        <patch:attribute name="implementationType">XCentium.Sitecore.Commerce.XA.Features.Catalog.Repositories.XcProductVariantsRepository, XCentium.Sitecore.Commerce.XA</patch:attribute>
      </register>
      <register serviceType="Sitecore.Commerce.XA.Feature.Catalog.Repositories.IProductImagesRepository, Sitecore.Commerce.XA.Feature.Catalog">
        <patch:attribute name="implementationType">XCentium.Sitecore.Commerce.XA.Features.Catalog.Repositories.XcProductImagesRepository, XCentium.Sitecore.Commerce.XA</patch:attribute>
      </register>
      <register serviceType="Sitecore.Commerce.XA.Feature.Catalog.Repositories.IProductInventoryRepository, Sitecore.Commerce.XA.Feature.Catalog">
        <patch:attribute name="implementationType">XCentium.Sitecore.Commerce.XA.Features.Catalog.Repositories.XcProductInventoryRepository, XCentium.Sitecore.Commerce.XA</patch:attribute>
      </register>
      <register serviceType="Sitecore.Commerce.XA.Feature.Catalog.Repositories.IProductInformationRepository, Sitecore.Commerce.XA.Feature.Catalog">
        <patch:attribute name="implementationType">XCentium.Sitecore.Commerce.XA.Features.Catalog.Repositories.XcProductInformationRepository, XCentium.Sitecore.Commerce.XA</patch:attribute>
      </register>
      <register serviceType="Sitecore.Commerce.XA.Feature.Catalog.Repositories.IProductPriceRepository, Sitecore.Commerce.XA.Feature.Catalog">
        <patch:attribute name="implementationType">XCentium.Sitecore.Commerce.XA.Features.Catalog.Repositories.XcProductPriceRepository, XCentium.Sitecore.Commerce.XA</patch:attribute>
      </register>
      <register serviceType="Sitecore.Commerce.XA.Feature.Catalog.Repositories.IPromotedProductsRepository, Sitecore.Commerce.XA.Feature.Catalog">
        <patch:attribute name="implementationType">XCentium.Sitecore.Commerce.XA.Features.Catalog.Repositories.XcPromotedProductsRepository, XCentium.Sitecore.Commerce.XA</patch:attribute>
      </register>
      <register serviceType="Sitecore.Commerce.XA.Feature.Catalog.Repositories.IVisitedProductDetailsPageRepository, Sitecore.Commerce.XA.Feature.Catalog">
        <patch:attribute name="implementationType">XCentium.Sitecore.Commerce.XA.Features.Catalog.Repositories.XcVisitedProductDetailsPageRepository, XCentium.Sitecore.Commerce.XA</patch:attribute>
      </register>
      <register serviceType="XCentium.Sitecore.Commerce.XA.Features.Catalog.Repositories.IXcBaseCatalogRepository, XCentium.Sitecore.Commerce.XA"
                lifetime="Singleton"
                implementationType="XCentium.Sitecore.Commerce.XA.Features.Catalog.Repositories.XcBaseCatalogRepository, XCentium.Sitecore.Commerce.XA"
                patch:before = "register[@serviceType='Sitecore.Commerce.XA.Feature.Catalog.Repositories.IProductVariantsRepository, Sitecore.Commerce.XA.Feature.Catalog']">>
      </register>
    </services>
  </sitecore>
</configuration>
