<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerce.analyticsData>
      <OrderGoalAnalyticsData type="Sitecore.Commerce.AnalyticsData.OrderGoalAnalyticsData, Sitecore.Commerce.Connect.Core">
        <patch:attribute name="type">XCentium.Sitecore.Commerce.XA.AnalyticsData.OrderGoalAnalyticsData, XCentium.Sitecore.Commerce.XA</patch:attribute>
      </OrderGoalAnalyticsData>
      <VisitedProductDetailsPageAnalyticsData type="Sitecore.Commerce.AnalyticsData.VisitedProductDetailsPageAnalyticsData, Sitecore.Commerce.Connect.Core">
        <patch:attribute name="type">XCentium.Sitecore.Commerce.XA.AnalyticsData.VisitedProductDetailsPageAnalyticsData, XCentium.Sitecore.Commerce.XA</patch:attribute>
      </VisitedProductDetailsPageAnalyticsData>
    </commerce.analyticsData>
  </sitecore>
</configuration>
